*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/Star-Wars.jpg);
    background-size: cover;
}

.my-box {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    gap: 25px;
}

 .my-card {
    width: calc(100% / 3 - 25px / 3 * 2);
    opacity: .95;
}